/* Media Queries */

@media (min-width: 43.75em) {
  main {
    font-size: 1em;
    line-height: 1.375;
  }
  h1 {
    font-size: 2.5em;
    line-height: 1.125;
  }
  h2 {
    font-size: 2em;
    line-height: 1.25;
  }
  h3 {
    font-size: 1.5em;
    line-height: 1.25;
  }
  h4 {
    line-height: 1.22222222;
  }
}

@media (min-width: 56.25em) {
  h1 {
    font-size: 3em;
    line-height: 1.05;
  }
  h2 {
    font-size: 2.25em;
    line-height: 1.25;
  }
  h3 {
    font-size: 1.75em;
    line-height: 1.25;
  }
}

/* General */

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

h1 {
  font-size: 2em;
  line-height: 1.25;
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
}

h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
}

.blue {
  color: #00476A;
}

.underline {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

.italics {
  font-style: italic;
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.row-wrap {
  -webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.row {
  -webkit-flex-flow: row;
	-moz-flex-flow: row;
	-ms-flex-flow: row;
  flex-flow: row;
}

.spaced {
  justify-content: space-between;
  align-items: center;
}

/* Main Header */

body>header {
  height: auto;
  width: 100%;
  background-color: #00476A;
  color: #FFF;
  overflow: hidden;
  margin: auto;
  text-align: center;
  padding: 0.5em;
  border-bottom: solid rgb(228, 228, 228) thin;
}

body>header>section {
  position: relative;
}

body>header a {
  text-decoration: none;
}

#banner-main {
  margin-bottom: 0.5em;
}

#banner-main h1, #banner-main h2 {
  margin: 0;
}

#banner-main picture>img, #banner-main picture>source {
  width: 30em;
  max-width: 98%;

  background-color: #FFF;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  margin-bottom: 5em;
}

#banner-main>div {
  width: 100%;
  position: absolute;
  bottom: 0;
}

#banner-main>div>a>h3 {
  display: inline-block;
  margin: 0.5em 0 0 0;
  padding: 0.2em 0.5em .2em 0.5em;
  color: #00476A;
  background-color: #FFF;
  border-top-left-radius: 5% 20%;
  border-top-right-radius: 5% 20%;
  border-bottom-right-radius: 5% 20%;
  border-bottom-left-radius: 5% 20%;
}

#banner-main>div>a:hover>h3 {
  color: #000;
  text-decoration: underline;
}

/* Header SVGs */

#contact-bar>a:hover>svg {
  fill: #000;
}

#contact-bar>a>svg {
  padding: 0.5em;
  background-color: #FFF;
  fill: #00476A;
  width: 3em;
  height: 3em;
  margin: 0;
  border-top-left-radius: 10% 10%;
  border-top-right-radius: 10% 10%;
  border-bottom-right-radius: 10% 10%;
  border-bottom-left-radius: 10% 10%;
}

/* Main Sections */

main {
  font-size: 1em;
  line-height: 1.25;
  margin-top: 0;
  margin: auto;
  width: 800px;
  max-width: 100%;
  text-align: center;
  background-color: #FFF;
}

main h4 {
  margin: 0;
}

main article {
  text-align: left;
  padding: 0em 1em 0em 1em;
}

main>article>section>header {
  font-weight: bold;
}

main>article>h3 {
  color: #00476A;
  margin-top: 0;
  padding-top: 1em;
  border-bottom: solid thin;
}

main>article>section {
  padding-bottom: 1em;
}

main>article>section>header>aside {
  font-style: italic;
}

#experience>section>header>div {
  padding-right: 2em;
}

#experience>section>div {
  padding-top: 1em;
}

#experience>section ul {
  margin: 0;
}

#experience>section ul>li {
  padding-bottom: 0.5em;
}

#awards>section>div {    
  justify-content: center;
  padding: 0.5em;
}

#awards>section>div:nth-child(odd) {
  background-color: #E5ECF0;
}

#awards>section>div>div:first-child {
  flex: 0 0 5em;
  padding-right: 1em;
  text-align: right;
}

#awards>section>div>div:last-child {
  flex-grow: 1;
}

/* Footer */

body>footer {
  text-align: center;
  padding: 1em;
  background-color: rgb(242, 242, 242);
  border-top: solid rgb(228, 228, 228) thin;
  color: rgb(34, 34, 34);
  font-size: 80%;
}

body>footer>svg {
  width: 2em;
  margin-bottom: 1em;
}
